---
BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
IndentCaseLabels: false
IndentGotoLabels: false

AlignEscapedNewlines: Left
PointerAlignment: Right
SpaceBeforeParens: ControlStatementsExceptForEachMacros
KeepEmptyLinesAtTheStartOfBlocks: false
...
